h1{
    color: #500763;
    text-align:center;
    background: #E37AFF;
    letter-spacing:5px;
    padding: 15px;
}

.imagenes{
    width:400px;
    height: 200px;
    border-radius: 20px;
}

body{
    background-image: url;

}

p{
    margin-left: 10px;
}


.segunda{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Gamebox{
    margin: 0 15px 0 15px;
    text-align: center;
}

.a{
    text-decoration: none;
    color: #000;

}

.video{
    width:200px;
    height: 100px;
    border-radius: 20px;
    margin-left:535px;
    margin-top: 60px;
}